$orange: #FF6E30;
$darkOrange: #BC572B;
$extraDarkOrange: #CE4307;
$lightRed: #F06666;
$red: #FF3030;
$beige: #FFD4C1;

$primary: #202020;
$primaryWhite: #ffffff;
$extraLightGray: #e9e9e9;
$lightGray: #cacaca;
$gray: #999999;
$darkGray: #4a4a4a;
$extraDarkGray: rgba(32, 32, 32, .85);
